<h1>Search</h1>
    <input type="search" class="mat-elevation-z2" [matAutocomplete]="auto" [formControl]="searchControl">
    <button mat-button (click)="searchCode()">Search code</button>
      <!-- mat-icon>search</mat-icon> -->
    <div class="spacer">

    <mat-autocomplete #auto="matAutocomplete" class="mat-elevation-z2">
      <mat-option *ngFor="let item of filteredResults$ | async" [value]="item">
        <span [innerHTML]="item | bold:searchControl.value"></span>
      </mat-option>
    </mat-autocomplete>
  </div>
